@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1. Base Style Mobile First */

body{
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    color: #333;
    min-height: 100vh;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.container{
    background-color: #fff;
    padding: 1.2rem;
    border: 2px solid ;
    border-radius: 20px;
    box-shadow: 10px 10px 0 hsl(0, 0%, 7%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
    max-width: 400px;
}

.container .illustration img{
    width: 100%;
    border-radius: 15px;
}

.container .card .btn{
    background-color: hsl(47, 88%, 63%);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    border: none;
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 15px;
}

.container .card .btn:hover{
    background-color: hsl(47, 88%, 50%);
    cursor: pointer;
}

.container .card .published-date{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    color: hsl(0, 0%, 7%);
}

.container .card .title{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}

.container .card .title a{
    text-decoration: none;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
}

.container .card .title a:hover{
    color: hsl(47, 88%, 63%);
}

.container .card .description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    color: hsl(0, 0%, 42%);
}

.container .card .author{
    font-size: 16px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .card .author img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* 2. Desktop styles */
@media screen and (min-width: 768px){
    body{
        padding: 2rem 5rem;
    }

    .container{
        max-width: 400px;
        width: 100%;
    }
    
}